<div class="loading"></div>
<style>
    .loading {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: hsla(0, 0%, 0%, 0.285);
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .loading::before {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 3px solid #ffffff;
        border-top: 3px solid #6c6c6c;
        position: absolute;
        animation: spin 1s linear infinite;
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
